##### **Dataset Attribute Information**
Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [1]:
# First we import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Reading in Required Data
energy_data = pd.read_csv("energydata_complete.csv")

In [3]:
# Viewing Data
energy_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
# Obtaining the R**2 value we select the required columns
question_df = energy_data[['T2', 'T6']]

question_df.head()

     T2        T6
0  19.2  7.026667
1  19.2  6.833333
2  19.2  6.560000
3  19.2  6.433333
4  19.2  6.366667

In [5]:
#reshaping dataset
b = question_df['T2'].values.reshape(-1,1)
c = question_df['T6'].values.reshape(-1,1)

In [6]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

# Fitting model
linear_model.fit(b,c)

#R-squared or Coefficient of determination
r_squared = linear_model.score(b,c)

print('R-squared value is ',(round(r_squared, 2)))

R-squared value is  0.64

In [7]:
# Dropping Columns that are neither int nor float type
energy_data = energy_data.drop(['date', 'lights'], axis = 1) 

# Viewing Dataset
energy_data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [8]:
# Normalizing Dataset
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

energy_data_scaled = pd.DataFrame(scaler.fit_transform(energy_data),  columns = energy_data.columns)

In [9]:
x = energy_data_scaled.drop(columns=['Appliances'])

y = energy_data_scaled['Appliances']

#splitting into training and test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [10]:
Model = LinearRegression()
Model.fit(x_train, y_train)

# Make predictions using the testing set
energy_prediction = Model.predict(x_test)

In [11]:
# To obtain MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, energy_prediction)

print('The Mean Absolute Error is ',(round(mae, 2)))

The Mean Absolute Error is  0.05

In [12]:
# To obtain Residual Sum of Squares
rss = np.sum(np.square(y_test - energy_prediction))

print('The Residual Sum of Squares is ',(round(rss, 2)))

The Residual Sum of Squares is  45.35

In [13]:
# To obtain Root Mean Squared Error
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, energy_prediction))

print("The Root Mean Squared Error is ",(round(rmse, 3)))

The Root Mean Squared Error is  0.088

In [14]:
# To obtain the Coefficient of Determination
from sklearn.metrics import r2_score

r2_score = r2_score(y_test, energy_prediction)

print('The Coefficient of Determination is ',(round(r2_score, 2)))

The Coefficient of Determination is  0.15

In [15]:
# To obtain the feature weights
coefficients = Model.coef_

print(coefficients)

[-0.00328105  0.5535466  -0.23617792 -0.45669795  0.29062714  0.09604827
  0.028981    0.02638578 -0.01565684  0.01600579  0.23642491  0.03804865
  0.01031878 -0.04461364  0.10199505 -0.15759548 -0.18994077 -0.03980032
 -0.32185967  0.00683933 -0.07767065  0.02918313  0.01230661  0.11775773
  0.0007701   0.0007701 ]

In [16]:
column_names = x.columns.tolist()

print(column_names)

['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2']

In [17]:
weights = pd.DataFrame(data={"Feature": column_names, "Weight": coefficients})

print(weights.sort_values(by = "Weight"))

        Feature    Weight
3          RH_2 -0.456698
18        T_out -0.321860
2            T2 -0.236178
16           T9 -0.189941
15         RH_8 -0.157595
20       RH_out -0.077671
13         RH_7 -0.044614
17         RH_9 -0.039800
8            T5 -0.015657
0            T1 -0.003281
24          rv1  0.000770
25          rv2  0.000770
19  Press_mm_hg  0.006839
12           T7  0.010319
22   Visibility  0.012307
9          RH_5  0.016006
7          RH_4  0.026386
6            T4  0.028981
21    Windspeed  0.029183
11         RH_6  0.038049
5          RH_3  0.096048
14           T8  0.101995
23    Tdewpoint  0.117758
10           T6  0.236425
4            T3  0.290627
1          RH_1  0.553547



*   RH_1 - Highest Weight
*   RH_2 - Lowest Weight

In [18]:
# Ridge regression model
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

#obtain predictions
ridge_prediction = ridge_reg.predict(x_test)

In [19]:
from sklearn.metrics import mean_squared_error
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_prediction))

print("The new Root Mean Squared Error is ",(round(ridge_rmse, 3)))

if ridge_rmse == rmse:
  print("There is no change to the Root Mean Squared Error")
else:
  print("The Root Mean Squared Error changes")

The new Root Mean Squared Error is  0.088
The Root Mean Squared Error changes

In [20]:
# Lasso Regression model
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

#obtain predictions
lasso_prediction = lasso_reg.predict(x_test)

In [21]:
#Lasso regression weights
lasso_weights = lasso_reg.coef_
non_zero = lasso_weights[lasso_weights != 0]

print(non_zero)
print(f"There are {len(non_zero)} features with non zero weights")

[ 0.01787993 -0.00011004 -0.04955749  0.00291176]
There are 4 features with non zero weights

In [22]:
# RMSE with Lasso Regression
from sklearn.metrics import  mean_squared_error

lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_prediction))
print('The lasso Root Mean Squared Error is ',(round(lasso_rmse, 3)))

The lasso Root Mean Squared Error is  0.094